.container {
  margin: 0;
  width: 100%;
  height: auto;
}

.col1 {
  height: 100vh;
  background-color: rgb(177, 173, 173);
  border: 5px solid black;
}
.col2 {
  height: 100vh;
  background-color: white;
  border: 5px solid black;
}
.compose {
  width: 150px;
  padding: 10px;
  margin: 15px 10px 15px 10px;
  font-size: 20px;
}

button:hover {
  background-color: rgb(116, 116, 233);
}
.menu {
  justify-content: left;
  font-size: 20px;
  margin: 20px 10px 20px 10px;
}
a:hover {
  color: black;
}

.intro {
  width: 100%;
  background-color: white;
  border-top: 4px solid rgb(177, 173, 173);
  margin: 0px 0px 0px 0px;
  padding: 10px 0px 10px 0px;
  font-size: 20px;
  font-family: "Helvetica", sans-serif;
}

.intro2 {
  width: 100%;
  height: auto;
  background-color: white;
  font-family: "Helvetica", sans-serif;
  font-size: 20px;
}
#right {
  align-items: right; /* For Edge */
}
